/*
Developed by Chiranjivi Kant on 12 June 2021
Preference Form Version 1.0
https://github.com/chiranjivikant1
*/

#input1 {
  width: 74%;
  padding: 20px;
  font-size: 20px;
  margin-bottom: 3px;
  border: solid;
  border-radius: 10px;
}
#button2 {
  width: 20%;
}
button {
  padding: 20px;
  border-radius: 10px;
  font-weight: bolder;
  margin: 3px;
  font-size: 20px;
}

#equal {
  background-color: green;
}
#c {
  background-color: red;
}

body {
  margin: 3% 35%;
}
